/* Footer.module.css */

.main-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15%;
  padding: 20px 15%;
}
.img-footer {
  width: 50px;
  height: 50px;
}

.col-footer {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 900px) {
  .col-footer {
    width: 33%;
  }
  .img-footer {
    width: 35px;
    height: 35px;
  }
  .icons-row-footer {
    flex-wrap: wrap;
  }
}

.text-footer {
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}

.icons-row-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icon-footer {
  width: 25px;
  height: 25px;
  color: #666;
  cursor: pointer;
}
